mat-toolbar {
    background-color: #FBC43C;
    color: #FFF9EB;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-icon {
    font-size: 24px;
    color: #FFF9EB;
  }
  
  button.mat-button {
    color: #FFF9EB; /* Color del texto de los botones */
  }
  
  .perfil-button {
    background-color: #833DE7; /* Color de fondo del botón de Perfil */
    color: #FFF9EB !important;  /* Color del texto en el botón de Perfil */
    border-radius: 12px; /* Bordes curvos */
    padding: 4px 12px;
    margin-left: 8px;
  }

  .mascotas-menu {
    position: relative;
  }
  
  
  
  .mascotas-menu:hover .submenu {
    display: block; 
  }
  
  
  
  .submenu-item:hover {
    background-color: #6a1b9a; /* Color morado oscuro al hacer hover */
    padding: 12px 16px; /* Espaciado ampliado al hacer hover */
    border-radius: 10px; /* Bordes un poco más redondeados */
    transition: background-color 0.3s ease, padding 0.3s ease;
  }
  
  .submenu-item span {
    color: white;
  }
  

  .submenu-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantiene el espacio entre los elementos */
    padding: 8px 12px; /* Espaciado normal */
    margin: 4px 0; /* Espacio entre los items */
    border-radius: 8px; /* Bordes redondeados */
    background-color: transparent; /* Sin fondo por defecto */
    transition: background-color 0.3s ease, padding 0.3s ease; /* Animación suave */
    box-sizing: border-box;
  }
  
  .submenu-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .submenu-item .especie {
    flex-grow: 1; 
    text-align: left;
    font-size: 12px;
  }
  
  .submenu-item .cantidad {
    font-size: 12px;
    text-align: right; 
    margin-left: 10px;
  }

  .submenu {
    background-color: #833DE7;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
   /* Fondo morado */
    color: white;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .actualizar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espaciado entre el icono y el texto */
    margin-top: 10px; /* Ajusta según sea necesario */
    background: none;
    border: none;
    cursor: pointer;
    width: 100%; /* Haz que ocupe todo el ancho si es necesario */
  }
  
  .actualizar-btn img {
    width: 20px;
    height: 20px;
  }
  
  .actualizar-lbl {
    font-size: 14px;
    font-weight: bold;
    color: #FFF9EB; /* Ajusta según el diseño */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }


 
  

