<form [formGroup]="recordatorioForm" (ngSubmit)="registrarRecordatorio()">
    <h3>Recordatorio - {{title}} </h3>
    <h3>{{day}}</h3>
  
    <div class="forms">
      <h5 class="titulo">Registrar recordatorio</h5>
  
    <div class="form-group">
        <label for="titulo">Título</label>
        <mat-form-field>
            <input matInput formControlName="titulo" id="titulo" placeholder="Ingrese el título del recordatorio">
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <mat-form-field>
            <textarea matInput formControlName="descripcion" id="descripcion" placeholder="Ingrese la descripción"></textarea>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="fecha">Fecha</label>
        <mat-form-field>
            <input matInput formControlName="fecha" [matDatepicker]="picker" id="fecha" placeholder="Selecciona una fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="hora">Hora</label>
        <mat-form-field>
            <input matInput formControlName="hora" type="time" id="hora" placeholder="Selecciona una hora">
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="tipoRecordatorio">Tipo de Recordatorio</label>
        <mat-form-field>
            <mat-select formControlName="tipoRecordatorioId" id="tipoRecordatorio" placeholder="Selecciona un tipo de recordatorio">
                <mat-option *ngFor="let tipo of tiposRecordatorio" [value]="tipo.id">
                    {{ tipo.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-checkbox formControlName="completado" id="completado">Completado</mat-checkbox>
    </div>

    <button mat-raised-button class="boton-agregar" type="submit">Agregar recordatorio</button>
    </div>
  </form>