.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  background-color: #ffb700; /* Color de fondo del sidenav */
  color: white; /* Color del texto dentro del sidenav */
  padding: 16px; /* Espaciado interno */
  height: 100%; /* Asegura que ocupe todo el alto */
}

.card {
  background-color: #FBC43C;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mascota-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); /* Línea divisoria */
  transition: background-color 0.3s; /* Transición suave para hover */
}



button[mat-icon-button] {
  margin: 0 4px;
}

.agregar-recordatorio {
  background-color: #FBC43C; /* Color de fondo del botón */
  color: white;
  margin: 20px auto; /* Centra el botón */
  display: block; /* Para centrar el botón horizontalmente */
}


