.sidenav-container {
  height: 100vh;
}

.card {
  background-color: #FBC43C;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mascota-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}


button[mat-icon-button] {
  margin: 0 4px;
}

.agregar-recordatorio {
  background-color: #FBC43C; /* Color de fondo del botón */
  color: white;
  margin: 20px auto; /* Centra el botón */
  display: block; /* Para centrar el botón horizontalmente */
}